@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav h3 {
  font-size: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 10px 25px;
  padding: 5px;
}

nav ul li:hover {
  background-color: rosybrown;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.general-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.section-1 h1 {
  font-size: 50px;
  font-weight: 900;
}

.main-info {
  width: 600px;
  margin: 20px;
}

.btn {
  background-color: rgb(224, 44, 109);
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 20px;
  margin-top: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn img {
  height: 30px;
  width: 30px;
  margin-left: 15px;
}

.main-photo {
  margin: 20px;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid gray;
  border-right: none;
  border-left: none;
  margin: 50px 0;
}

.logo {
  margin: 15px 25px;
}

.container h2 {
  text-align: center;
  font-weight: 900;
}

.see-more {
  text-align: end;
  margin-right: 20px;
}

.see-more a {
  text-decoration: none;
  color: rgb(224, 44, 109);
  font-weight: bold;
}

.gadgets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
}

.gadget {
  width: 300px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.11);
}

.gadget-name {
  font-weight: bold;
}

.gadget-price {
  font-size: 20px;
}

.gadget-rating {
  font-size: 12px;
}

.fa-star {
  font-size: 12px;
}

.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}

footer {
  background-color: rgb(10, 8, 38);
  height: auto;
  text-align: center;
  color: white;
  padding: 30px 0;
}

footer .fab {
  margin: 0 5px;
}

/* Media Queries */

/* Mobile Devices */

@media only screen and (max-width: 689px) {
  .nav-links {
    display: none;
  }

  header nav h3 {
    text-align: center;
  }

  .logos {
    flex-wrap: wrap;
  }

  .general-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-info,
  .main-photo {
    width: 80%;
  }

  .gadgets {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Tablet Devices */

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .nav-links {
    display: none;
  }

  header nav h3 {
    text-align: center;
  }

  .logos {
    flex-wrap: wrap;
  }

  .main-info,
  .main-photo {
    width: 80%;
  }

  .gadgets {
    grid-template-columns: repeat(2, 1fr);
  }
}
